/* app/assets/stylesheets/pokemons/show.scss */

body.show-page {
  background-image: url('/assets/background_image.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  margin: 0;
}

.navbar, .footer {
  background-color: white;
  z-index: 10;
}

.show-page .container {
  width: 100%; /* Full width of the viewport */
  max-width: 1200px; /* Set a maximum width (adjust as needed) */
  margin: 0 auto; /* Centers the container horizontally */
  padding: 20px; /* Adds 20px padding on the left and right */
  background-color: #f8f9fa;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: calc(100% - 40px); /* 100% width minus 20px on each side */
}

.show-page h1 {
  font-family: 'Arial', sans-serif;
  color: white;
  text-align: center;
  font-size: 3rem;
  margin-bottom: 20px;
  background-color: #D93A27;
  padding: 10px;
  border-radius: 5px;
}

.show-page .cl-image-tag {
  display: block;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.show-page p {
  font-size: 1.1rem;
  margin-bottom: 10px;
  line-height: 1.6;
}

.show-page strong {
  color: #D93A27;
}

.show-page h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 15px;
  text-align: center;
  color: #333;
}



.show-page h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 15px;
  text-align: center;
  color: #333;
}


.show-page .link-to-back {
  display: block;
  text-align: center;
  text-decoration: none;
  margin-top: 20px;
  font-weight: bold;
  color: #007bff;
}

.show-page .link-to-back:hover {
  color: white;
}

.show-page .option-btn {
  display: flex;
  padding: 0 16px;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: flex-start;
  gap: 8px;

  .btn-edit {
    max-width: 250px;
    margin: 0;

    &:hover {
      background-color: #0056b3;
    }
  }

  .btn-delete {
    max-width: 250px;

    &:hover {
      background-color: #b02a37;
    }
  }
}

.container {
  position: relative; /* Ensure positioning works inside this container */
}


.back-button-container {
  position: absolute;
  top: 10px;
  left: 25px;
  display: flex;
  align-items: center;
  gap: 20px; /* Spacing between the icon and the text */
}

.back-icon {
  transition: transform 0.2s ease, opacity 0.2s ease;
  cursor: pointer;
}

.back-text {
  font-size: 18px; /* Adjust font size as needed */
  color: #333; /* Adjust color as needed */
  padding-left: 5px;
}

.icon-delete {
  margin-right: 12px; /* Adds more space between the icon and the text */
  vertical-align: middle; /* Aligns the icon with the text vertically */
}

/* Apply this to the body or the main container of the page */
body, .show-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure full viewport height */
}


/* Style your footer */
footer {
  margin-top: auto; /* Pushes footer to the bottom of the page */
}
