<div class="search-bar">
  <div class="search-section pokemon">
    <%= form_with url: pokemons_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Name"
        %>
      <%= select_tag :type_query,
            options_for_select(%w(Normal Fire Water Flying Grass Poison Electric Ground Psychic Rock Ice Bug Dragon Ghost Dark Steel Fairy),
            params[:type_query]),
            class: "form-control",
            include_blank: "Type"
        %>
      <div class="button-margins">
      <%= button_tag type: :submit, class: "search-button" do %>
        <i class="fa-solid fa-magnifying-glass"></i>
      <% end %>
      </div>
    <% end %>
  </div>
</div>
