<%# <div class="search-bar">
  <div class="search-section pokemon">
    <label>Pokémon Name</label>
    <input type="text" placeholder="Search destinations">
  </div>
  <div class="search-section">
    <label>Check in</label>
    <input data-controller="datapicker" type="text" placeholder="Add Start Date">
  </div>
  <div class="search-section">
    <label>Check out</label>
    <input data-controller="datapicker" type="text" placeholder="Add End Date">
  </div>
  <button class="search-button">
    <i class="fa-solid fa-magnifying-glass"></i>
  </button>
</div> %>

<div class="search-bar">
  <div class="search-section pokemon">
    <%= form_with url: pokemons_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Type a keyword"
        %>
           <%= select_tag :type_query,
            options_for_select(%w(Normal Fire Water Flying Grass Poison Electric Ground Psychic Rock Ice Bug Dragon Ghost Dark Steel Fairy), params[:type_query]),
            class: "form-control",
            include_blank: "Select Type"
      %>
      <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
