<body class=home>
  <div class="full-page-container">
    <div class="banner-1">
      <div class="header-banner">
        <h1>FIND YOUR POKÉMON FRIEND</h1>
      </div>

      <div class="banner-2">
      </div>
    </div>

    <div class="container-text">
      <h2><strong>PokéRent:</strong> Your Gateway to Unlimited Pokémon Adventures!</h2>
      <br>
      <p>Welcome to PokéRent, the premier marketplace where your Pokémon journey becomes limitless! At PokéRent, we believe that every trainer should have access to the perfect Pokémon for any adventure, battle, or event—without the need for permanent ownership.</p>
      <p>Whether you're preparing for an intense gym challenge, aiming to impress in a Pokémon Contest, or simply want a temporary companion for a special mission, PokéRent has you covered. Our vast selection includes Pokémon of all types, levels, and abilities, ready to be rented at your convenience.</p>

      <img src="/assets/Pikachu_Ash.png" alt="Pikachu Ash" class="pikachu-image">

      <button class="btn btn-primary"><%= link_to "Start Your Adventure", pokemons_path %></button>
    </div>
  </div>
</body>
