.banner {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("banner.png");
  padding: 220px 0;
  background-color: #FB9481;
  p {
     font-size: 20px;
     color: white;
     opacity: .7;
     text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  }
}
