.footer {
  background: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 0px 200px;
  color: rgba(0, 0, 0, 0.3);
  position: fixed; /* Keeps it fixed at the bottom */
  bottom: 0; /* Aligns it to the bottom of the viewport */
  left: 0; /* Ensures it spans the entire width */
  width: 100%; /* Ensures it spans the full width of the screen */
  box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.1); /* Optional shadow for separation */
  z-index: 100; /* Keeps it above other content */
  margin-top: 20px; /* Adds space above the footer */
}

.footer-links {
  display: flex;
  align-items: center;
}

.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}

.footer-links a:hover {
  opacity: 1;
}

.footer .fa-heart {
  color: #D23333;
}
