.page-container {
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
}

.footer {
  background: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px; /* Increased height for better spacing */
  padding: 0 200px; /* This controls left and right spacing */
  color: rgba(0, 0, 0, 0.3);
  width: 100%;
  box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.05);
  z-index: 100;
  position: relative;
  bottom: 0;
  margin-top: auto;
  flex-wrap: wrap; /* Allows wrapping for better responsiveness */
}

.footer-links {
  display: flex;
  align-items: center;
}

.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0 10px; /* This controls spacing between icons */
}

.footer-links a:hover {
  opacity: 1;
}

.footer .fa-heart {
  color: #D23333;
}

.footer-message {
  flex: 1; /* Ensures the message spans evenly across available space */
  text-align: right; /* Centers the message horizontally */
  font-size: 16px;
  color: rgba(0, 0, 0, 0.5);
  margin: 5px 0;
}

.footer-copyright {
  font-size: 14px;
  text-align: right; /* Aligns the text to the right */
  flex: 0; /* Keeps it from growing and interfering with alignment */
  color: rgba(0, 0, 0, 0.3);
  margin-right: 200px; /* Matches the padding on the left for alignment */
}
