.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff; /* White for a Poké Ball vibe */
  border: 2px solid #ffcc00; /* Pokémon yellow border */
  border-radius: 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  padding: 10px;
  margin: 30px auto;
  max-width: 400px;
}

.search-section.pokemon {
  display: flex;
  align-items: center;
  background-color: #f5f5f5;
  border-radius: 50px;
  padding: 10px 15px;
  flex-grow: 1;
}

.search-section input,
.search-section select {
  border: none;
  outline: none;
  font-size: 1rem;
  padding: 10px 15px;
  margin-right: 10px;
  border-radius: 20px;
  background-color: #fff; /* Contrast with the section */
  color: #555;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-section select {
  cursor: pointer;
}

.search-button {
  background-color: #ff385c; /* Pokémon red */
  color: #fff;
  border: none;
  border-radius: 50%;
  padding: 10px;
  margin-right: 10px;
  font-size: 1.2rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}

.search-button:hover {
  background-color: #e32447; /* Darker red on hover */
}

.search-button i {
  margin: 0;
}

.button-margins {
  margin-left: 10px;
}
