<div class="container my-4">
  <h2 style="color: white; font-weight: bold; text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);">
  Available Pokémons
  </h2>
  <%= render "shared/searchbar" %>

  <div class="content-wrapper">
    <div class="pokemon-grid">
      <% @pokemons.each do |pokemon| %>
        <% owner = @users.find(pokemon.user_id) %>

        <%=  render "pokemon_card", pokemon: pokemon, owner: owner %>

      <% end %>
    </div>

    <%# map %>
    <div class="map-container"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
</div>
